
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
    background-color: white;
    border: 0px none;
    color: black;
}

/* Completions display */

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
    -moz-appearance: none !important;
    border: 0px none !important;
    border-top: 0px none !important;
    background-color: white !important;
    -moz-border-top-colors: -moz-initial !important;
    color: black !important;
}

tree.completions treechildren::-moz-tree-row {
    background-color: white !important;
    border: none;
}

tree.completions treechildren::-moz-tree-row(current) {
    background-color: #BFBFBF !important;
    color: black;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
    color: black !important;
    font-weight: bold !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
    color: black !important;
}

